<h2 class="center">Get Site Components</h2>
<div id="componentNavs" class="large-12 small-12 columns">


    <div class="large-4 small-6 columns"><a class="btn-primary block center" data-request="onTextPartial" data-request-update="mainStyleArea: '#mainStyleContentArea2'">Text Block</a></div>
    <div class="large-4 small-6 columns"><a class="btn-primary block center">OLC Shortcodes</a></div>
    <div class="large-4 small-6 columns"><a class="btn-primary block center">Custom Button</a></div>
    <div class="large-4 small-6 columns"><a class="btn-primary block center">OLC Button</a></div>
    <div class="large-4 small-6 columns"><a class="btn-primary block center">OLC Advertisement</a></div>
    <div class="large-4 small-6 columns"><a class="btn-primary block center">OLC Program Line-Up</a></div>
</div>
