<div class="row">
    <div class="large-12 small-12 columns" style="margin-top:5%;">
        <input type="text" onkeyup="putTogetherD6SearchString()" id="userInput" placeholder="Paste in string to search for">
    </div>
</div>
<div class="row">
    <div class="large-6 small-12 columns" style="margin-top:5%;">
        <h3 class="center">Drupal 6</h3>
        <div class="large-12 small-12 columns center">
        <input type="text" id="d6info" readonly>
        </div>
        <!--<div class="large-12 small-12 columns center">-->
            <!--<input type="text" onkeyup="putTogetherD6SearchString()" id="d6input" placeholder="Paste in string to search for">-->
        <!--</div>-->
        <div class="row" style="margin-top: 5%">

            <div class="large-6 small-6 columns center " style="margin-top: 5%">
                <a class="btn-primary" id="d6usersearch" href="http://olc.onlinelearningconsortium.org/search/user" target="_blank">D6 user</a>
            </div>
            <div class="large-6 small-6 columns center" style="margin-top: 5%">
                 <a class="btn-primary" id="d6contentsearch" href="http://olc.onlinelearningconsortium.org/search/node" target="_blank">D6 content</a>
            </div>

        </div>
    </div>
    <div class="large-6 small-12 columns"  style="margin-top:5%;">
        <h3 class="center">AIMMS</h3>
        <div class="large-12 small-12 colums center" style="margin-top:5%;">
        <a class="btn-primary" href="http://auth.onlinelearningconsortium.org/admin/users" target="_blank">Search AIMMMS user list</a>
        </div>
    </div>
</div>

<div class="row" >
    <div class="large-6 small-12 columns" style="margin-top:5%;">
        <h3 class="center">Auth0</h3>
        <div class="large-12 small-12 columns center" style="margin-top:3%;">
        <a class="btn-primary" href="https://manage.auth0.com/#/users" target="_blank">Search Auth0 user list</a>
        </div>
    </div>
    <div class="large-6 small-12 columns" style="margin-top:5%;">
        <h3 class="center">Conference Management</h3>
            <div class="large-12 small-12 columns center">
                <input type="text" id="cmsinfo" readonly>
                <span>(<i>Requires a Full Email Address</i>)</span>
            </div>
        <div class="large-12 small-12 columns center" style="margin-top:3%;">
            <a class="btn-primary" id="cmsusersearch" href="http://conference.onlinelearningconsortium.org/admin/people" target="_blank">Search CMS user list</a>
        </div>
    </div>
</div>
<div class="row" >
    <div class="large-6 small-12 columns" style="margin-top:5%;">
        <h3 class="center">SalesForce</h3>
        <div class="large-12 small-12 columns center">
            <input type="text" id="sfainfo" readonly>
        </div>
        <div class="large-12 small-12 columns center" style="margin-top:3%;">
        <a id="sfausersearch" class="btn-primary" href="https://na24.salesforce.com/003/o" target="_blank">Search Salesforce</a>
        </div>
    </div>
    <div class="large-6 small-12 columns" style="margin-top:5%;">
        <h3 class="center">Marketo</h3>
        <div class="large-12 small-12 columns center" style="margin-top:3%;">
        <a class="btn-primary" href="https://app-sjh.marketo.com/#SL1014B2" target="_blank">Search Marketo Leads list</a>
        </div>
    </div>
</div>
<div class="row" >
    <div class="large-6 small-12 columns" style="margin-top:5%;">
        <h3 class="center">Sendgrid</h3>
        <div class="large-12 small-12 columns center" style="margin-top:3%;">
        <a class="btn-primary" href="https://app.sendgrid.com/email_activity?" target="_blank">Search Sendgrid activity list</a>
        </div>
    </div>
    <div class="large-6 small-12 columns">

    </div>
</div>