<h2 class="center">Get an OLC Advertisement / News Item</h2>
<input type="text" id="theOuts" placeholder="Type Nothing Here .." readonly>
<h4 class="center">Select Your Options</h4>
<div class="row">
    <div class="large-3 small-6 columns">
        <h6 class="center">Background Color</h6>
        <input type="text" onchange="getAdvertisement()" onkeyup="getAdvertisement()" value="#ffffff" id="theBackColor">
    </div>
    <div class="large-3 small-6 columns">
        <h6 class="center">Rounded</h6>
        <select onchange="getAdvertisement()" id="getRounded">
            <option value="no">No</option>
            <option value="yes">Yes</option>
        </select>
    </div>
    <div class="large-3 small-6 columns">
        <h6 class="center">Add an Image (paste in source)</h6>
        <input type="text" onchange="getAdvertisement()" onkeyup="getAdvertisement()" id="theImgSource">
    </div>
    <div class="large-3 small-6 columns">
        <h6 class="center">Image Position</h6>
        <select onchange="getAdvertisement()" id="theImagePosition">
            <option value="top">Top</option>
            <option value="bottom">Bottom</option>

        </select>
    </div>
</div>
<div class="row">
    <div class="large-3 small-6 columns">
        <h6 class="center">Content Padding '%'</h6>
        <input type="text" onchange="getAdvertisement()" onkeyup="getAdvertisement()" value="0" id="overall-padding">
    </div>
    <div class="large-3 small-6 columns">
        <h6 class="center">Padding Top and Bottom '%'</h6>
        <input type="text" onchange="getAdvertisement()" onkeyup="getAdvertisement()" value="0" id="topbot-padding">
    </div>
    <div class="large-3 small-6 columns">
        <h6 class="center">Padding Left and Right '%'</h6>
        <input type="text" onchange="getAdvertisement()" onkeyup="getAdvertisement()" value="0" id="leftright-padding">

    </div>
    <div class="large-3 small-6 columns">
        <h6 class="center">Max Image Size '%'</h6>
        <input type="text" onchange="getAdvertisement()" onkeyup="getAdvertisement()" value="100" id="image-sizing">

    </div>
</div>
<h3 class="center">Paste in Formatted Text Blocks and Buttons from Above</h3>
<h4 class="center">Paste in your Header ..</h4>
<input type="text" id="theAdHeader" onchange="getAdvertisement()" onkeyup="getAdvertisement()" />
<h4 class="center">Then Paste in the Text ..</h4>
<input type="text" id="theAdText" onchange="getAdvertisement()" onkeyup="getAdvertisement()">
<h4 class="center">Then Paste in a button or link ..</h4>
<input type="text" id="theAdLink" onchange="getAdvertisement()" onkeyup="getAdvertisement()">


<div class="row">
    <div class="large-4 small-12 columns">
        <div id="theAdOut"></div>
    </div>
    <div class="large-4 small-12 columns">
        <button class="btn-primary block" data-clipboard-target="#theOuts">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-4 small-12 columns">

    </div>
</div>
