<div class="row">
<div class="large-3 small-6 columns">

    <img style="margin-bottom: 3%;" src="{{ 'assets/images/acceleratelogo.png'|theme }}">
    <button class="btn-primary block" data-clipboard-text='<img src="http://webnician.net/olcDash/octoberFresh/oct/themes/olcdash/assets/images/acceleratelogo.png"/>'>
        Copy to Clipboard
    </button>
</div>

<div class="large-3 small-6 columns">
    <img style="margin-bottom: 3%;" src="{{ 'assets/images/logo3.png'|theme }}">
    <button class="btn-primary block" data-clipboard-text='<img src="http://webnician.net/olcDash/octoberFresh/oct/themes/olcdash/assets/images/logo3.png"/>'>
        Copy to Clipboard
    </button>

</div>

<div class="large-3 small-6 columns">
    <img style="margin-bottom: 3%;" src="{{ 'assets/images/innovatelogo.png'|theme }}">
    <button class="btn-primary block" data-clipboard-text='<img src="http://webnician.net/olcDash/octoberFresh/oct/themes/olcdash/assets/images/innovatelogo.png"/>'>
        Copy to Clipboard
    </button>
</div>

<div class="large-3 small-6 columns">
    <img style="margin-bottom: 3%;" src="{{ 'assets/images/collaboratelogo.png'|theme }}">
    <button class="btn-primary block" data-clipboard-text='<img src="http://webnician.net/olcDash/octoberFresh/oct/themes/olcdash/assets/images/collaboratelogo.png"/>'>
        Copy to Clipboard
    </button>
</div>
</div>
<div style="margin-top: 5%;" class="row">
    <div class="large-3 small-6 columns">
        <img style="margin-bottom: 3%;" class="block" src="{{ 'assets/images/logo4.png'|theme }}">
        <button class="btn-primary block" data-clipboard-text='<img src="http://webnician.net/olcDash/octoberFresh/oct/themes/olcdash/assets/images/logo4.png"/>'>
            Copy to Clipboard
        </button>
    </div>
    <div class="large-3 small-6 columns">
        <img style="margin-bottom: 7%;" class="block" src="{{ 'assets/images/olcconnectlogo.png'|theme }}">
        <button class="btn-primary block" data-clipboard-text='<img src="http://webnician.net/olcDash/octoberFresh/oct/themes/olcdash/assets/images/olcconnectlogo.png"/>'>
            Copy to Clipboard
        </button>
    </div>
    <div class="large-3 small-6 columns">
        <img style="margin-bottom: 3%; background-color: #8f8f8f;" class="block" src="{{ 'assets/images/olctodaylogo.png'|theme }}">
        <button class="btn-primary block" data-clipboard-text='<img src="http://webnician.net/olcDash/octoberFresh/oct/themes/olcdash/assets/images/olctodaylogo.png"/>'>
            Copy to Clipboard
        </button>
    </div>
    <div class="large-3 small-6 columns">
        <img style="margin-bottom:15%; background-color: #8f8f8f;" class="block" src="{{ 'assets/images/olclogo.png'|theme }}">
        <button class="btn-primary block" data-clipboard-text='<img src="http://webnician.net/olcDash/octoberFresh/oct/themes/olcdash/assets/images/olclogo.png"/>'>
            Copy to Clipboard
        </button>
    </div>
</div>