<h2 class="center">Get an OLC Shortcode</h2>
<h3 class="center">Find the desired functionality ..</h3>
<h4 class="center">Then.. Paste in desired content</h4>
    <h4 class="center">Then.. Click copy to clipboard to get a formatted text block</h4>
<div class="row">
    <div class="large-2 small-6 columns">
        <label class="center">Inst. Members Only</label>
        <input type="text" onkeyup="getShortcode()" id="shortinp" value="" >
        <input type="text" id="instmember" readonly>
        <button class="btn-primary block" data-clipboard-target="#instmember">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Pro Members Only</label>
        <input type="text" onkeyup="getShortcode()" id="shortinp2" value="" >
        <input type="text" id="promember" readonly>
        <button class="btn-primary block" data-clipboard-target="#promember">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Community Members Only</label>
        <input type="text" onkeyup="getShortcode()" id="shortinp3" value="" >
        <input type="text" id="commember" readonly>
        <button class="btn-primary block" data-clipboard-target="#commember">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Non-Members Only</label>
        <input type="text" onkeyup="getShortcode()" id="shortinp4" value="" >
        <input type="text" id="nonmember" readonly>
        <button class="btn-primary block" data-clipboard-target="#nonmember">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Paying Members Only</label>
        <input type="text" onkeyup="getShortcode()" id="shortinp5" value="" >
        <input type="text" id="paymember" readonly>
        <button class="btn-primary block" data-clipboard-target="#paymember">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Non Paying Members</label>
        <input type="text" onkeyup="getShortcode()" id="shortinp6" value="" >
        <input type="text" id="nopaymember" readonly>
        <button class="btn-primary block" data-clipboard-target="#nopaymember">
            Copy to Clipboard
        </button>
    </div>
</div>
<div class="row" style="margin-top: 2%;">
    <div class="large-2 small-6 columns">
        <label class="center">Conference Specific Sponsors</label>
        <input type="text" id="conferenceSponsors" value="[conference-sponsors]" readonly>
        <button class="btn-primary block" data-clipboard-target="#conferenceSponsors">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Rotating Sponsor Widget</label>
        <input type="text" id="rotatingSponsors" value="[conference-rotating-sponsors]" readonly>
        <button class="btn-primary block" data-clipboard-target="#rotatingSponsors">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Institute Schedule</label>
        <input type="text" id="instituteSchedule" value="[learn-schedule]" readonly>
        <button class="btn-primary block" data-clipboard-target="#instituteSchedule">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Workshop Schedule</label>
        <input type="text" id="workshopSchedule" value="[workshop-finder][/workshop-finder]" readonly>
        <button class="btn-primary block" data-clipboard-target="#workshopSchedule">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Mastery Series Schedule</label>
        <input type="text" id="masterySeries" value="[mastery-series-finder]" readonly>
        <button class="btn-primary block" data-clipboard-target="#masterySeries">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Latest OLJ Issue</label>
        <input type="text" id="LatestOljIssue" value="[latest-journal]" readonly>
        <button class="btn-primary block" data-clipboard-target="#LatestOljIssue">
            Copy to Clipboard
        </button>
    </div>

</div>
<div class="row">
    <div class="large-2 small-6 columns">
        <label class="center">Advertisement</label>
        <input type="text" id="adsWidget" value='[do_widget id="widget_ads-6"]' readonly>
        <button class="btn-primary block" data-clipboard-target="#adsWidget">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Board List</label>
        <input type="text" id="boardList" value='[people category=board]' readonly>
        <button class="btn-primary block" data-clipboard-target="#boardList">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Team List</label>
        <input type="text" id="employeesList" value='[people category=execs]' readonly>
        <button class="btn-primary block" data-clipboard-target="#employeesList">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Latest News</label>
        <input type="text" id="latestNews" value='[latest_news]' readonly>
        <button class="btn-primary block" data-clipboard-target="#latestNews">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Testimonials (change #s for diff)</label>
        <input type="text" id="testimonials" value='[testimonials-finder featured=6101,1814]' readonly>
        <button class="btn-primary block" data-clipboard-target="#testimonials">
            Copy to Clipboard
        </button>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center">Book Finder</label>
        <input type="text" id="bookFinder" value='[book-finder]' readonly>
        <button class="btn-primary block" data-clipboard-target="#bookFinder">
            Copy to Clipboard
        </button>
    </div>

</div>