<h2 class="center">OLC Systems Links</h2>
<div class="row">
    <div class="large-2 small-6 columns">
        <label class="center" for="marketoImg">Marketo</label>
        <a  href="https://app-sjh.marketo.com/#MM0A1" target="_blank"> <img class="block" id="marketoImg" style="margin-bottom: 3%;" src="{{ 'assets/images/marketo.jpg'|theme }}"></a>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center" for="microsoftImg">Office 365</label>
        <a  href="https://portal.office.com/Home" target="_blank"> <img class="block" id="microsoftImg" style="margin-top: 20%; margin-bottom: 3%;" src="{{ 'assets/images/microsoft.png'|theme }}"></a>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center" for="salesforceImg">SalesForce</label>
        <a  href="https://na24.salesforce.com/" target="_blank"> <img class="block" id="salesforceImg" style="margin-bottom: 3%;" src="{{ 'assets/images/salesforcelogo.jpg'|theme }}"></a>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center" for="teamworkImg">Teamwork PM</label>
        <a  href="http://teamwork.onlinelearning-c.org/" target="_blank"> <img class="block" id="teamworkImg" style="margin-bottom: 3%; margin-top: 15% " src="{{ 'assets/images/teamwork.jpg'|theme }}"></a>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center" for="zopimImg">Zopim</label>
        <a  href="https://dashboard.zopim.com/?lang=en-us#home" target="_blank"> <img class="block" id="zopimImg" style="margin-bottom: 3%; margin-top: 15%" src="{{ 'assets/images/zopim.png'|theme }}"></a>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center" for="moodleImg">Workshops</label>
        <a  href="http://institute.onlinelearningconsortium.org/" target="_blank"> <img class="block" id="moodleImg" style="margin-bottom: 3%; margin-top: 15%;" src="{{ 'assets/images/moodle.png'|theme }}"></a>
    </div>
</div>

<div class="row" style="margin-top: 5%;">
    <div class="large-2 small-6 columns">
        <label class="center" for="code42Img">Code 42 CrashPlan </label>
        <a  href="https://web-bam-msp.crashplan.com/console/app.html" target="_blank"> <img class="block" id="code42Img" style="margin-bottom: 3%;" src="{{ 'assets/images/code42.jpg'|theme }}"></a>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center" for="nextivaImg">Nextiva</label>
        <a  href="https://authenticate.nextiva.com/AccountValidation/login.action" target="_blank"> <img class="block" id="nextivaImg" style="margin-top: 15%;margin-bottom: 3%;" src="{{ 'assets/images/nextiva.png'|theme }}"></a>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center" for="awardsImg">Awards Platform</label>
        <a  href="http://awards.onlinelearningconsortium.org/acc/l/?next=/awds/" target="_blank"> <img class="block" id="awardsImg" style="margin-top:15%; margin-bottom: 3%;" src="{{ 'assets/images/logo4.png'|theme }}"></a>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center" for="awardsImg">Online Learning Journal</label>
        <a  href="http://olj.onlinelearningconsortium.org/index.php/olj" target="_blank"> <img class="block" id="awardsImg" style="margin-bottom: 3%; margin-top: 15% " src="{{ 'assets/images/logo4.png'|theme }}"></a>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center" for="cventImg">Cvent</label>
        <a  href="https://app.cvent.com/Subscribers/Login.aspx" target="_blank"> <img class="block" id="cventImg" style="margin-bottom: 3%; margin-top: 15%" src="{{ 'assets/images/cvent.jpg'|theme }}"></a>
    </div>
    <div class="large-2 small-6 columns">
        <label class="center" for="conferenceImg">Conferences</label>
        <a  href="http://conference.onlinelearningconsortium.org/" target="_blank"> <img class="block" id="conferenceImg" style="margin-bottom: 3%; margin-top: 15%;" src="{{ 'assets/images/logo4.png'|theme }}"></a>
    </div>
</div>